#byline {
  font-family: Helvetica, sans-serif;
  font-size: 15px;
  font-style: italic;
}


h1 {
  font-family: Garamond, Helvetica, sans-serif;
  font-size: 50px;
  font-style: bold;
}

/*Here's the body text*/


p {
  font-family: Garamond, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 2;
}

img {
  width:100%;
  margin-top: 0px !important;
}

#footnote {
  background-color: black;
  color: white;
  text-align: center;
}

.row {
  margin-right: 0px!important;
}

#pullquote-top {
  font: 45px Garamond, serif;
  padding-top: 25px;
  margin-top: 50px;
  border-top: 1px solid white;
  color: #C71E1D;
  background-color: black;
}

#pullquote-bottom {
  font: 20px Garamond, serif;
  padding-bottom: 25px;
  margin-bottom: 50px;
  border-bottom: 1px solid white;
  color: white;
  background-color: black;
  font-style: italic;
}

#letter {
  font: 65px Garamond, Helvetica, sans-serif;
  color: #C71E1D;
  float:left;
  font-style:bold;
  margin-top: -5px;
  margin-right: 10px;
}

.question {
  text-align: center;
  color: #C71E1D;
  font: 65px Garamond, Helvetica, sans-serif;
  padding-top: 50px;
  padding-bottom: 30px;
  line-height: 1.5;
}

.btn {
  border: none;
  color: white;
  background-color: #C71E1D;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: block;
  margin: 0 auto;
  cursor: pointer;
  font: 25px Garamond, Helvetica, sans-serif;
  max-width: 250px;
}

.ghost {
  background-color: black;
  color: white;
}

.fog {
  background-color: black;
}

.caption {
  font-style: italic;
}

.infographic {
  padding-top: 50px;
}

/* unvisited link */
a:link {
  text-decoration:underline;
  color: white;
}

/* visited link */
a:visited {
  text-decoration:underline;
  color: white;
}

/* mouse over link */
a:hover {
  text-decoration:underline;
  color: #C71E1D;
}

@media only screen and (max-width: 768px) {
    #hide {
        display: none;
    }
}

@media only screen and (min-width: 769px) {
    #nope {
        display: none;
    }
}
