.blue {
  background-color: #2E338F;
  font-family: Montserrat, Helvetica, Garamond, sans-serif;
  color: white;
  padding:15px;
  margin-left: 0 auto;
  margin-right: 0 auto;
}

.job {
  padding-top:15px;
  padding-bottom:15px;
  border-bottom: .75px solid #2E338F;
}

.container {
  font-family: Montserrat, Helvetica, Garamond, sans-serif;
  width: 100%;
}

.hero {
  width: 100%;
}

.col-sm-12 {
  background-image: url("banner8.jpg");
  width: 100%;
  padding-top: 150px;
  padding-bottom: 50px;
  min-height:600px;
}

.intro {
  background-color: white;
  font-family: Montserrat, Helvetica, Garamond, sans-serif;
  font-size: 50px;
  padding:20px;
  text-align: center;
  border-radius: 40px;
}

#navbarSupportedContent {
  font-family: Montserrat, Helvetica, Garamond, sans-serif;
  margin: -15px;
  padding:15px;
  width:100%;
}

li {
  font-family: Montserrat, Helvetica, Garamond, sans-serif;
  color:white;
  padding-right: 100px;
}

.aboutme {
  border: 4px solid #2E338F;
  padding-top:50px;
  margin-top: 50px;
  margin-bottom:70px;
  padding-bottom: 50px;
}


.btn {
  border: 1px solid white;
  text-align: center;
}

.merrill {
  padding-top:15px;
  padding-bottom:15px
}

.footer {
  margin-bottom: -200px;
