#byline {
  font-family: Helvetica, sans-serif;
  font-size: 15px;
  font-style: italic;
}

/*Here's the title*/


h1 {
  font-family: Garamond, Helvetica, sans-serif;
  font-size: 50px;
  font-style: bold;
}

/*Here's the body text*/


p {
  font-family: Helvetica, sans-serif;
  font-size: 15px;
  line-height: 2;
}

img {
  width:100%;
}

h2 {
  font-family: Garamond, Helvetica, sans-serif;
  font-size: 35px;
  color: #C71E1D;
  font-style:bold;
}

#footnote {
  background-color: black;
  color: white;
  text-align: center;
}

.row {
  margin-right: 0px!important;
}

blockquote {
  font: 35px Garamond, Helvetica, sans-serif;
  color: #C71E1D;
  padding-left: 15px;
  border-left: 4px solid;
}

#letter {
  font: 65px Garamond, Helvetica, sans-serif;
  color: #C71E1D;
  float:left;
  font-style:bold;
  margin-top: -15px;
}

#source {
  font-size: 25px;
}

.sidebar {
  border: 1px solid #C71E1D;
  padding: 15px;
  margin: 15px;
}

/* unvisited link */
a:link {
  color: #C71E1D;
}

/* visited link */
a:visited {
  color: blue;
}

/* mouse over link */
a:hover {
  background-color: #C71E1D;
  color: white;
  text-decoration: none;
  padding: 10px;
  text-align: center;
}
