#byline {
  font-family: Helvetica, sans-serif;
  font-size: 15px;
  font-style: italic;
}

/*Here's the title*/


h1 {
  font-family: Garamond, Helvetica, sans-serif;
  font-size: 50px;
  font-style: bold;
}

/*Here's the body text*/


p {
  font-family: Helvetica, sans-serif;
  font-size: 15px;
  line-height: 2;
}

img {
  width:100%;
}

h2 {
  font-family: Garamond, Helvetica, sans-serif;
  font-size: 35px;
  color: #C71E1D;
  font-style:bold;
}

#footnote {
  background-color: black;
  color: white;
  text-align: center;
}

.row {
  margin-right: 0px!important;
}

blockquote {
  font: 35px Garamond, Helvetica, sans-serif;
  color: #C71E1D;
  padding-left: 15px;
  border-left: 4px solid;
}

#letter {
  font: 65px Garamond, Helvetica, sans-serif;
  color: #C71E1D;
  float:left;
  font-style:bold;
  margin-top: -15px;
}
