.container {
  margin:
}


#byline {
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  font-style: italic;
}

/*Here's the title*/

h1 {
  font-family: Montserrat, Helvetica, Garamond, sans-serif;
  font-size: 50px;
  font-style: italic;
}

/*Here's the body text*/

p {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 1.8;
}

/*learn more and subheaders. Intro is h3*/

h2 {
  font-family: Montserrat, Helvetica, Garamond, sans-serif;
  font-size: 30px;
}

#footnote {
  background-color: black;
  color: white;
  text-align: center;
}
